*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: $font-size-base;
  font-family: $font-family-base;
  line-height: 1.33;
}

body {
  margin: 0;
}
main {
  background-color: $grey-100;

  @media screen and (max-width: $grid-breakpoints-sm) {
    background-color: $grey-200;
  }
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.sr-only {
  @include sr-only;
}
