*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-size: $font-size-base;
}
main {
  background-color: $grey-100;

  @media screen and (max-width: $grid-breakpoints-sm) {
    background-color: $grey-200;
  }
}
