header {
  align-items: center;
  background-color: $blue-400;
  color: $white;
  display: flex;
  justify-content: space-between;
  padding: 30px 25px;

  @media screen and (max-width: $grid-breakpoints-sm) {
    padding: 17.5px 15px;
  }

  .logo {
    height: 18px;
    margin-left: 15px;
  }

  .notifications {
    background: transparent url("/src/assets/img/notification.svg") center/cover
      no-repeat;
    border: none;
    height: 20px;
    padding: 0;
    position: relative;
    width: 20px;

    &-count {
      background-color: $primary;
      border: 2px solid $blue-400;
      border-radius: 50%;
      bottom: -8px;
      color: $white;
      font-size: 10px;
      height: 18px;
      line-height: 14px;
      position: absolute;
      right: -8px;
      text-align: center;
      width: 18px;
    }
  }
  .page-title{
    color: $white;
    margin: 0;
  }
}
