*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: $font-size-base;
  font-family: $font-family-base;
  line-height: 1.33;
}

body {
  margin: 0;
}

main {
  background-color: $grey-100;

  @media screen and (max-width: $grid-breakpoints-sm) {
    background-color: $grey-200;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  vertical-align: middle;
}

input:focus {
  outline: none;
}

.sr-only {
  @include sr-only;
}

:focus-visible {
  outline: $blue-400 solid 1px;
}