h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.142857rem;
  margin-top: 0;
  font-family: "Montserrat";
  font-weight: 700;
  font-style: italic;
  line-height: 1.1875;
  color: $blue-500;
}

h1 {
  font-size: $font-size-md;
}
h2 {
  font-size: $font-size-base;
}

p {
  margin-bottom: 1rem;
}
.fs-xxs {
  font-size: $font-size-xxs;
}
.fs-xs {
  font-size: $font-size-xs;
}
.fs-sm {
  font-size: $font-size-sm;
}
.fs-md {
  font-size: $font-size-md;
}
.fs-lg {
  font-size: $font-size-lg;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-muted {
  color: $blue-200;
}

.text-center {
  text-align: center;
}
.text-white {
  color: $white;
}
