button {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  font-family: "Roboto";
  font-size: $font-size-sm;
  font-weight: 500;
  border: 1px solid transparent;
  transition: $transition;

  &:hover {
    cursor: pointer;
  }
}

.btn {
  &-sm {
    padding: 0.5714rem 1.4286rem;
    border-radius: 5.7143rem;
  }

  &-primary {
    background-color: $primary;
    color: $white;

    &:hover {
      background-color: $blue-400;
    }
  }

  &-outlined-primary {
    background-color: $white;
    border: 1px solid $primary;
    color: $primary;

    &:hover {
      background-color: $blue-400;
      color: $white;
      border-color: $blue-400;
    }
  }
}
