.input-wrp {
  position: relative;
  background: $grey-100 url("/src/assets/img/search.svg") 1rem center/1.214rem no-repeat;
  border-radius: 5.714rem;

  .input {
    width: 100%;
    padding: 0.714rem 3.143rem;
    line-height: 1.3rem;
    background-color: transparent;
    border: 0;
    color: $blue-500;

    &::placeholder {
      color: $blue-200;
    }
  }

  .clear-btn {
    position: absolute;
    top: 0;
    right: 1rem;
    bottom: 0;
    margin: auto;
    width: 1.429rem;
    height: 1.429rem;
    background: transparent url("/src/assets/img/close.svg") center/12px
      no-repeat;
  }
}
