header {
  align-items: center;
  background-color: $blue-400;
  color: $white;
  display: flex;
  justify-content: space-between;
  padding: 30px 25px;

  @media screen and (max-width: $grid-breakpoints-sm) {
    padding: 17.5px 15px;
  }

  .logo {
    height: 18px;
    margin-left: 15px;
  }

  .notifications {
    --size: 20px;
    background: transparent url("/src/assets/img/notification.svg") center/cover
      no-repeat;
    border: none;
    height: var(--size);
    padding: 0;
    position: relative;
    width: var(--size);

    &-count {
      --size: 18px;
      --border: 2px;
      background-color: $primary;
      border: var(--border) solid $blue-400;
      border-radius: 50%;
      bottom: -8px;
      color: $white;
      font-size: 10px;
      height: var(--size);
      line-height: calc(var(--size) - var(--border));
      position: absolute;
      right: -8px;
      text-align: center;
      width: var(--size);
    }
  }
  .page-title{
    color: $white; 

    @media screen and (min-width: $grid-breakpoints-sm){
      @include sr-only; 
    }
  }
}
