.teams-wrp {
  .team-item {
    padding: 5px 10px;
    transition: $transition background-color;

    .team-logo {
      background-color: $grey-100;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      padding: 6px;
      transition: $transition background-color;
      margin-right: 15px;
    }

    .team-name {
      color: $blue-500;
      font-weight: 500;
    }

    .team-stadium-wrp {
      padding-left: 24px;
      position: relative;
      margin-left: 6px;
      background: transparent url(/src/assets/img/stadium.svg) 6px center/14px
        no-repeat;
        
        &::before{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 1px;
          height: 10px;
          background-color: $blue-100;
        }
    }

    &.focused {
      background-color: $grey-100;

      .team-logo {
        background-color: $white;
      }
    }
  }
}
