.teams-wrp {
  .team-item {
    padding: 0.357rem 0.714rem;
    transition: $transition background-color;

    .team-logo {
      width: 2.857rem;
      height: 2.857rem;
      border-radius: 50%;
      padding: 0.857rem;
      background-color: $grey-100;
      transition: $transition background-color;
      margin-right: 1.0715rem;
    }

    .team-name {
      color: $blue-500;
      font-weight: 500;
    }

    .team-stadium-wrp {
      position: relative;
      padding-left: 1.714rem;
      margin-left: 0.4285rem;
      background: transparent url(/src/assets/img/stadium.svg) 0.4285rem 0/1rem no-repeat;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 0.0715rem;
        height: 0.714rem;
        background-color: $blue-100;
      }
    }

    .highlight {
      color: $primary;
    }

    &.focused {
      background-color: $grey-100;

      .team-logo {
        background-color: $white;
      }
    }

    &:focus {
      outline: none;
    }
  }
}